body  
{
    background-image: url('background.jpg');
}

.hashtag_menu
{
    list-style: none;
    padding: 0;
    margin-left: 0;
    float: left;
}

.hashtag_menu li
{
    background-color: Red;
    overflow: visible;
    -webkit-border-radius: 30;
    border: 2 solid black;
}